@charset "utf-8";

html {
  font-size: 62.5%;
}



.fee {
  padding: 3% 8% 5%;
  background-color: rgb(232, 252, 213);
  &__above {
    &__title {
      img {
        display: block;
        margin: 2% auto 0;
      }
    }
    p {
      font-size: 1.8rem;
      margin-top: 5%;
      line-height: 2.5;
    }
  }

  &__main {

    &__fare {
      margin-top: 7%;
      h3 {
        font-size: 2.5rem;
        color: white;
        background-color: #008002;
        line-height: 3.5;
        padding-left: 5%;
        margin-bottom: 3%;
      }
      &__details {
        padding: 0 3%;
        &__line {
          margin-top: 2%;
          display: flex;
          text-align: center;
          height: 70px;
          &__part1 {
            width: 25%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
            border-right: none;
          }
          &__part2 {
            width: 40%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
            border-right: none;
          }
          &__part3 {
            width: 35%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
          }
          p {
            width: 100%;
            font-size: 1.8rem;
          }
        }
      }
      ul {
        margin-top: 3%;
        padding-left: 7%;
        li {
          font-size: 1.8rem;
          line-height: 2.5;
        }
      }
    }
  }
}


.scene {
  padding: 6% 7% 3%;
  border-bottom: 1px solid black;
  &__above {
    text-align: center;
    position: relative;
    h2 {
      font-size: 3rem;
      color: white;
      line-height: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      span {
        font-size: 4rem;
      }
    }
  }
  &__middle {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    &__picture {
      width: 21%;
      position: relative;
      p {
        font-size: 2.5rem;
        text-shadow:1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
  }
  &__below {
    width: 53%;
    margin: 8% auto 0;
    text-align: center;
    p {
      font-size: 3.5rem;
      background: linear-gradient(transparent 60%, #ffff66 60%);
    }
    ul {
      margin: 3% 0 0 15%;
      text-align: left;
      font-size: 1.8rem;
      line-height: 3;
    }
  }
}


.feature {
  padding-top: 3%;
  &__above {
    img {
      display: block;
      margin: 2% auto 0;
    }
  }
  &__main {
    background-image: url("../img/clover.png");
    background-size: cover;
    margin-top: 2%;
    padding: 5% 10% 10%;
    height: 780px;
    &__boxs {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;
      height: 50%;
      &__box {
        width: 40%;
        height: 60%;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 70px;
        padding: 3%;
        h3 {
          font-size: 2.5rem;
          font-weight: bold;
          text-align: center;
        }
        p {
          font-size: 1.8rem;
          line-height: 2;
          margin-top: 7%;
        }
      }
    }
  }
}




.family1 {
  padding-top: 5%;
  background-color: #F8F6EA;
  &__above {
    text-align: center;
    img {

    }
  }
  &__below {
    display: flex;
    justify-content: space-between;
    &__left {
      width: 65%;
    }
    &__right {
      width: 35%;
      padding-right: 5%;
      &__1 {
        position: relative;
        &__hukidashi {
          width: 100%;
          position: relative;
          &__text {
            img {
              
            }
            p {
              color: white;
              font-size: 2rem;
              z-index: 100;
              position: absolute;
              left: 50%;
              top: 45%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
            }
          }
        }
        .family-ellipse1 {
          position: absolute;
          right: 0;
          bottom: 10%;
          border: 1px solid #000;
          background-color: #34C4EF;
          color: #fff;
          border-radius: 50%;
          width: 30%;
          height: 70px;
          &__box {
            height: 100%;
            position: relative;
            p {
              font-size: 1.3rem;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
            }
          }
        }
      }
      .text222 {
        font-size: 2rem;
        line-height: 3;
        margin-top: 15%;
      }
    }
  }
}




table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  table-layout: fixed;
}

table tr {
  background-color: white;
  padding: .35em;
  border-bottom: 1px solid #777777;
  th {
    border: 1px solid #777777;
  }
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 1px solid #777777;
  text-align: center;
}
table th {
  font-size: 1.9rem;
  font-weight: bold;
}
table thead tr{
  background-color: #76db73;
  background-color: #c79fd9;
  color:#fff;
}
table tbody th {
  background-color: #76db73;
  background-color: #c79fd9;
  font-weight: bold;
  color: #fff;
}
.txt{
  font-size: 1.4rem;
}
.price{
  color: #167F92;
  font-size: 1.7rem;
  font-weight: bold;
}
.non{
  background:rgb(232, 252, 213);
  width: 20%;
}


@media screen and (max-width: 600px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    background-color: #167F92;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: .625em .625em .625em 4em;
    border-right: none;
  }
  
  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #167F92;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table tbody th {
    color: #fff;
  }
}