@media screen and (max-width: 1600px) {
  .scene__below p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1350px) {
  .scene__above h2 {
    font-size: 2.5rem;
    span {
      font-size: 3rem;
    }
  }

  .scene__middle p {
    font-size: 2rem;
  }


  .scene__below p {
    font-size: 2.2rem;
  }

  .feature__main__boxs__box {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .family1__below__right__1__hukidashi__text p{
    font-size: 1.6rem;
  }
  .family1__below__right__1 .family-ellipse1 {
    width: 40%;
    top: 40%;
  }
  .family1__below__right__1 .family-ellipse1__box p {
    font-size: 1.2rem;
  }

}



@media screen and (max-width: 1000px) {
  .scene__above h2 {
    font-size: 1.5rem;
    span {
      font-size: 1.9rem;
    }
  }
  
  .scene__middle p {
    font-size: 1.7rem;
  }

  .scene__below {
    p {
      font-size: 2rem;
    }
    ul {
      font-size: 1.5rem;
    }
  }

  .feature__main__boxs__box {
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .family1__below__right__1__hukidashi__text p{
    font-size: 1.4rem;
  }

  .family1__below__right__1 .family-ellipse1__box p {
    font-size: 1rem;
  }

  .family1__below__right .text222 {
    font-size: 1.6rem;
  }


}

@media screen and (max-width: 880px) {
  .scene__below {
    p {
      font-size: 1.5rem;
    }
    ul {
      font-size: 1.2rem;
    }
  }

  .feature__main__boxs__box {
    h3 {
      margin-top: 10%;
      font-size: 1.4rem;
    }
    p {
      margin-top: 10%;
      font-size: 1rem;
    }
  }
  .family1__below__right__1__hukidashi__text p{
    font-size: 1.2rem;
  }

  .family1__below__right__1 .family-ellipse1 {
    width: 45%;
    left: ;
  }
  .family1__below__right__1 .family-ellipse1__box p {
    font-size: 0.8rem;
  }

  .family1__below__right .text222 {
    font-size: 1.4rem;
  }
}




@media screen and (max-width: 670px) {

  .fee {
    padding: 12% 1% 18%;
    &__above {

      &__title {

        img:nth-of-type(1) {
          width: 85%;
        }
        img:nth-of-type(2) {
          width: 20%;
        }
      }
      p {
        font-size: 1rem;
        text-align: center;
      }
    }
    &__main {

      &__fare {
        margin-top: 13%;
        h3 {
          font-size: 1.7rem;
          line-height: 3;
          text-align: center;
          padding-left: 0;
          font-weight: bold;
        }
        &__details {
          
          padding: 0 1%;
          &__line {
            height: 50px;
            margin-top: 5%;
            &__part1 {
              border: 1px solid #777777;
              height: 100%;
              border-right: none;
              padding: 0 1%;
            }
            &__part2 {
              border: 1px solid #777777;
              height: 100%;
              border-right: none;
              padding: 0 1%;
            }
            &__part3 {
              border: 1px solid #777777;
              height: 100%;
              padding: 0 1%;
            }
            p {
              font-size: 9px;
            }
          }
        }
        ul {
          margin-top: 6%;
          padding: 0 3%;
          li {
            font-size: 1.1rem;
          }
        }
      }
    }
  }


  .scene {
    padding: 12% 3% 15%;
    &__above {

      img {
        width: 95%;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 1.5;
        width: 100%;
        span {
          font-size: 2rem;
        }
      }
    }
    &__middle {
      display: block;
      &__picture {
        width: 100%;
        margin-top: 10%;
        text-align: center;
        img {
          width: 65%;
        }
        p {
          font-size: 2.2rem;
        }
      }
    }
    &__below {
      margin-top: 15%;
      width: 98%;
      p {
        width: 95%;
        font-size: 1.6rem;
      }
      ul {
        margin: 6% 0 0 5%;
        font-size: 1.4rem;
        line-height: 1.5;
      }
    }
  }


  .feature {
    padding-top: 10%;
    &__above {

      img:nth-of-type(1) {
        width: 85%;
      }
      img:nth-of-type(2) {
        width: 20%;
      }
    }
    &__main {
      height: 550px;
      background-position: center;
      padding: 10% 5% 15%;
      &__boxs {
        display: block;
        &__box {
          margin-top: 5%;
          height: 35%;
          width: 95%;
          border-radius: 25px;
          h3 {
            margin-top: 0;
            font-size: 1.5rem;
          }
          p {
            font-size: 1rem;
            margin-top: 3%;
          }
        }
      }
    }
  }






  .family1 {

    &__above {
      img {

      }
    }
    &__below {
      display: block;
      padding: 0 5% 10%;
      &__left {
        width: 100%;
        text-align: center;
        img {
          width: 90%;
        }
      }
      &__right {
        width: 100%;
        &__1 {

          &__hukidashi {

            &__text {

              img {
                display: none;
              }
              p {
                display: none;
                font-size: 1rem;
              }
            }
          }
          .family-ellipse1 {
            display: none;
            &__box {

              p {
                font-size: 1rem;
              }
            }
          }
        }
        .text222 {
          margin-top: 8%;
          font-size: 1rem;
          line-height: 1.8;
        }
      }
    }
  }




}






