@charset "utf-8";

html {
  font-size: 62.5%;
}



.fee {
  padding: 3% 8% 5%;
  background-color: rgb(232, 252, 213);
  &__above {
    &__title {
      img {
        display: block;
        margin: 2% auto 0;
      }
    }
    p {
      font-size: 1.8rem;
      margin-top: 5%;
      line-height: 2.5;
    }
  }

  &__main {

    &__fare {
      margin-top: 7%;
      h3 {
        font-size: 2.5rem;
        color: white;
        background-color:rgb(150, 209, 97);
        line-height: 3.5;
        padding-left: 5%;
        margin-bottom: 3%;
      }
      &__details {
        padding: 0 3%;
        &__line {
          margin-top: 2%;
          display: flex;
          text-align: center;
          height: 70px;
          &__part1 {
            width: 25%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
            border-right: none;
          }
          &__part2 {
            width: 40%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
            border-right: none;
          }
          &__part3 {
            width: 35%;
            height: 100%;
            text-align: center;
            border: 4px solid #777777;
            background-color: white;
            display: flex;
            align-items: center;
          }
          p {
            width: 100%;
            font-size: 1.8rem;
          }
        }
      }
      ul {
        margin-top: 3%;
        padding-left: 7%;
        li {
          font-size: 1.8rem;
          line-height: 2.5;
        }
      }
    }
  }
}


.scene {
  padding: 6% 7% 3%;
  border-bottom: 1px solid black;
  &__above {
    text-align: center;
    position: relative;
    h2 {
      font-size: 3rem;
      color: white;
      line-height: 2;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      span {
        font-size: 4rem;
      }
    }
  }
  &__middle {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    &__picture {
      width: 21%;
      position: relative;
      p {
        font-size: 2.5rem;
        text-shadow:1px 1px 0 white,-1px 1px 0 white,1px -1px 0 white,-1px -1px 0 white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    }
  }
  &__below {
    width: 50%;
    margin: 8% auto 0;
    text-align: center;
    p {
      font-size: 3.5rem;
      background: linear-gradient(transparent 60%, #ffff66 60%);
    }
    ul {
      margin: 3% 0 0 15%;
      text-align: left;
      font-size: 1.8rem;
      line-height: 3;
    }
  }
}


.feature {
  padding-top: 3%;
  &__above {
    img {
      display: block;
      margin: 2% auto 0;
    }
  }
  &__main {
    background-image: url("../img/clover.png");
    background-size: cover;
    margin-top: 2%;
    padding: 5% 10% 10%;
    height: 780px;
    &__boxs {
      display: flex;
      justify-content: space-between;
      margin-top: 5%;
      height: 50%;
      &__box {
        width: 40%;
        height: 60%;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 70px;
        padding: 3%;
        h3 {
          font-size: 2.5rem;
          font-weight: bold;
          text-align: center;
        }
        p {
          font-size: 1.8rem;
          line-height: 2;
          margin-top: 7%;
        }
      }
    }
  }
}