@media screen and (max-width: 1650px) {
  .top-promise h1 {
    /* font-size: 5rem; */
  }
}

@media screen and (max-width: 1350px) {
  .top-promise h1 {
    /* font-size: 4rem; */
  }
}





/* モバイル向けレイアウト */

@media screen and (max-width: 670px) {
  

  /* 介護イメージ */
  .top-wrapper {
    width: 100%;
  }

  .top-img {
    width: 100%;
  }

  .top-company {
    width: 95%;
  }

  .top-ellipse {
    width: 40%;
    top: 5%;
  }

  .top-ellipse__img {
    width: 80%;
  }

  .top-target {
    width: 85%;
    font-size: 1.2rem;
    top: 55%;
  }

  .top-target__sub {
    width: 70%;
  }

  .top-promise {
    width: 80%;
    top: 80%;
    font-size: 1.8rem;
  }


/* 会社の約束事 */

  .promise-title {
    position: absolute;
    width: 80%;
    height: 10%;
    margin-left: 10%;
  }

  .promise-title__logo {
    width: 100%;
  }

  .promise-sub {
    width: 10%;
    margin-left: 35%;
    margin-top: 16%;
    line-height: 1.8;
    font-size: 0.6rem;
    z-index: 10;
  }

  .promise-sub__content {
    width: 280px;
    padding: 50% 0 0 0;
  }

  .promise-green {
    width: 150%;
    height: 20%;
    margin-top: 60%;
    margin-left: -40%;
    font-size: 0.8rem;
  }

  .promise-green__box {
    padding: 2px 10px;
    width: 250px;
  }

  .promise-img {
    width: 185px;
    height: 100px;
    margin-top: 20%;
    left: -5%;
  }

  .promise-img img {
    width: 140%;

  }



  /* お客様の声 */

  .family-wrapper {
    height: 340px;
  }

  .family-voice {
    width: 50%;
    top: 65%;
    left: 50%;
  }

  .family-voice__text {
    width: 50%;
    left: 40%;
    top: 40%;
    font-size: 0.8rem;
  }

  .family-voice__text__img {
    width: 150px;
    height: 60px;
  }

  .family-img {
    width: 85%;
    height: 200px;
    top: 3%;
  }

  .family-img__photo {
    height: 90%;
  }

  .family-ellipse {
    width: 20%;
    height: 3%;
    top: 70%;
    left: 77%;
  }

  .family-ellipse__voice {
    font-size: 0.8rem;
    padding-top: 7%;
  }

  .family-text {
    top: 74%;
    left: 40%;
    line-height: 1.8;
    font-size: 0.8rem;
    width: 60%;
  }

  .family-text-voice {
    font-size: 0.8rem;
    padding: 0 3% 0 20%;
  }


  /* 可変式フッター */

  .footer {
    width: 95%;
    height: 3.3%;
    }

    .footer-box {
      width: 50%;
      height: 45px;
    }


    .PC-gentle {
      display: none;
    }
    .res-gentle {
      display: inline-block;
    }

}